<div class="dropdown">
  <h4>Home - Country Details</h4>
  <div class="tableDiv">
    <table class="table">
      <tr>
        <th>Country Name</th>
        <td>{{ countryDetails.name }}</td>
      </tr>
      <tr>
        <th>Capital</th>
        <td>{{ countryDetails.capital }}</td>
      </tr>
      <tr>
        <th>Region</th>
        <td>{{ countryDetails.region }}</td>
      </tr>
      <tr>
        <th>Sub region</th>
        <td>{{ countryDetails.subregion }}</td>
      </tr>
      <tr>
        <th>Population</th>
        <td>{{ countryDetails.population }}</td>
      </tr>
      <tr>
        <th>Area</th>
        <td>{{ countryDetails.area }}</td>
      </tr>
      <tr>
        <th>alpha3Code</th>
        <td>{{ countryDetails.alpha3Code }}</td>
      </tr>
    </table>
  </div>
</div>
